<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container" th:if="${#authorization.expression('isAuthenticated()')}">
    <div th:replace="site/index/logged :: indexLogged"></div>
</div>
<div class="container" th:unless="${#authorization.expression('isAuthenticated()')}">
    <div th:replace="site/index/guest :: indexGuest"></div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>