<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="hero-unit">
        <h1>Test</h1>
        <p th:text="${user.name}">Name</p>
        <p>
            Welcome to the Spring MVC Quickstart application!
            Get started quickly by signing up.
        </p>
        <form action="/connect/facebook" method="POST">
            <input type="hidden" name="scope" value="read_stream" />
            <div class="formInfo">
                <p>You aren't connected to Facebook yet. Click the button to connect this application with your Facebook account.</p>
            </div>
            <p><button type="submit">Connect to Facebook</button></p>
        </form>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>