<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body th:fragment="footer">
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Kontakt</h2>
                <hr class="primary"/>
                <p>Kui leidsid vea või soovid meile anda teada, kuidas rakendus oleks Sulle mugavam, siis saada meile kiri!</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:viilveer@hotmail.com">viilveer@hotmail.com</a></p>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/jquery.fittext.js"></script>
<script src="/js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/creative.js"></script>
</body>
</html>